In [2]:
nama = "ilmi"
NAMA = "laduhni"
print(nama)
print(NAMA)

ilmi
laduhni

In [3]:
nama = "Ilmi Laduhni"
jenis_kelamin = "L"
alamat = """
            kuburaya kalimantan barat
            sungai Ambawang
            """
agama = "islam"
print(nama)
print(jenis_kelamin)
print(alamat)
print(agama)

Ilmi Laduhni
L

            kuburaya kalimantan barat
            sungai Ambawang

islam

In [4]:
isBooked = True
nyala =1
type(nyala)

int

In [6]:
nama = "Ilmi Laduhni"
umur = "18"
alamat= "Pontianak kuburaya"
tinggi = "170cm"
menikah = False

#cetak
print("Nama : ", nama)
print("Umur : ", umur)
print("Alamat : ", alamat)
print("Tinggi : ", tinggi)
if(menikah) : 
    print(" Status : Menikah")
else :
    print("Status : Belum Menikah")

Nama :  Ilmi Laduhni
Umur :  18
Alamat :  Pontianak kuburaya
Tinggi :  170cm
Status : Belum Menikah

In [3]:
P = "BIODATA"

nama = "Ilmi Laduhni"
umur = " 18 Tahun"
alamat = """
            Sungai Ambawang KubuRaya Kalimantan Barat
            """
agama = "Islam"
jeniskelamin = "Laki-Laki"
tinggi = "170cm"
menikah = False 


#cetak
print(P)
print("Nama : ", nama)
print("Umur : ", umur)
print("Alamat :", alamat)
print("Agama :", agama)
print("Jenis Kelamin : ", jeniskelamin)
print("Tinggi : ", tinggi)
if(menikah) :
    print("Status : Menikah")
else :
    print("Status : Belum Menikah")

BIODATA
Nama :  Ilmi Laduhni
Umur :   18 Tahun
Alamat :
            Sungai Ambawang KubuRaya Kalimantan Barat

Agama : Islam
Jenis Kelamin :  Laki-Laki
Tinggi :  170cm
Status : Belum Menikah